
@keyframes gradient {
  100% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #f88 0%, #f88 100%);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #f88 25%, #f88 100%);
    
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #f88 50%, #f88 100%);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
    -moz-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
    box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #f88 75%, #f88 100%);
    
  }
  0% {
    color: #fff;
    background: radial-gradient(circle at center, #f88 99%, #f88 100%, #f88 100%);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
  }
}

textarea, select, input, button { 
	outline: none; 
}
body {
	background-color: #333;
	height:98vh;
	padding: 0px;
	display:flex;
	justify-content: center;
	align-content: center;
}
footer {
	position:absolute;
	height: 5em;
	margin: 0;
	padding:0px;
	bottom:0;
	display: inline;
	/*border: 1px solid orange;*/
}
h1, h2, h3 {
	color: white;
}
p {
	margin: 0;
	padding:2px;
	display: inline;
	color: white;
}
main {
	display: flex;
	justify-content: center;
}
h3 {
	display: inline;
}
nav, ul, li {
	display: inline;
	padding:0px;
	margin:8px;
}
nav {
	position:absolute;
	/*border: 1px solid green;*/
	height:30px;
	margin: 0;
	padding:2px;
	top:0;
	display: inline;
}
a {
	color: white;
	font-size: 2em;
	margin: 0 1em;

}
/*.tile {
	border: 1px solid #555;
	background-color: ;
	height: 50px;
	width: 50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
}*/
.tileEmpty{
	border: 2px solid #f66;
	height: 50px;
	width: 50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
}
.tilePeg {
	border: 2px solid #f66;
	background-color: #F66;
	height: 50px;
	width: 50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
}
.tileGlow {
	-webkit-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
	-moz-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
	box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
}
.popped {
	border: 1px solid #555;
	background-color: ;
	height: 50px;
	width: 50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
	/* set time duration to your needs */
	animation: gradient 300ms;
	background: #aaa;
	color: #f88;
	box-shadow: none;
}
#game-board {
	align-self: center;
	position:relative;
}
#remaining {
	color:white;
}
.gameOver{
	position: absolute;
	height: 17em;
	width:30em;
	left: 50%;
	top:50%;
	margin:-8.5em -15em;
	/*border: 1px solid black;*/
	background-color: rgba(55, 55, 55, 0.9);
	color: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .50);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.gameOver h3, h2{
	align-self: center;
	display: inline-block;
	margin: 5px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
}
.gameOver button{
	margin-top: .5em;
}
.gameGoing{
	display: none;
}
#topRight{
	position: absolute;
	top: 2em;
	right:2em;
	/*width: ;
	height: ;*/
}
#topRight h1, h3 {
	display: block;
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding:0;
	text-transform: uppercase;
}
#topRight h1 {
	font-size: 10em;
	line-height: 0.9em;
	text-align: center;
}
#topRight h3 {
	font-size: 2em;
	text-align: center;
}

button {
	border: 1em solid #f66;
	background-color: #F66;
	height: 1em;
	margin: 0 .2em; 
	border-radius: 1em;
	font-size: 1.7em;
	line-height: 0em;
	color: white;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

button:active {
	border: 1em solid #Fcc;
	background-color: #Fcc;
	color: #FFF;

}
.lowScoreScreen{
	position: absolute;
	height: 45em;
	width:30em;
	left: 50%;
	top:50%;
	margin:-25em -15em;
	/*border: 1px solid black;*/
	background-color: rgba(55, 55, 55, 0.9);
	color: white;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .50);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.lowScoreScreen h3 {
	align-self: center;
	display: inline-block;
	margin: 5px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-size: 4em
}

.lowScoreScreen h3 {
	align-self: center;
	display: inline-block;
	margin: 5px;
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-size: 6em
}

.lowScoreScreen button{
	margin-top: .5em;
	vertical-align: bottom;
}
.lowScoreScreen li{
	display: block;
	width: 100%;
	font-size: 3em;
	color: white;
	font-family: 'Dosis', sans-serif;

}
.lowScoreScreen ul {
	height: 30em;
}

.gameGoing2{
	display: none;
}
#lowScoreInput{
	width: 15.4em;
	height: 2em;
	border-radius: 25px;
	font-size: .6em;
	text-align: center;
	font-family: 'Dosis', sans-serif;



}
