
@keyframes gradient {
  100% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #f88 0%, #f88 100%);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #f88 25%, #f88 100%);
    
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #f88 50%, #f88 100%);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
    -moz-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
    box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #f88 75%, #f88 100%);
    
  }
  0% {
    color: #fff;
    background: radial-gradient(circle at center, #f88 99%, #f88 100%, #f88 100%);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
    box-shadow: 0px 0px 0px 0px rgba(255, 69, 1, .75); 
  }
}

textarea, select, input, button { 
	outline: none; 
}
body {

	background-color: #aaa;
	height:98vh;
	padding: 0px;
	display:flex;
	justify-content: center;
	align-content: center;
}
footer {
	position:absolute;
	height:30px;
	margin: 0;
	padding:2px;
	bottom:0;
	display: inline;
}
p {
	margin: 0;
	padding:2px;
	display: inline;
}
main {
	display: flex;
	justify-content: center;
}
h3 {
	display: inline;
}
nav, ul, li {
	display: inline;
	padding:0px;
	margin:8px;
}
nav {
	position:absolute;
	/*border: 1px solid green;*/
	height:30px;
	margin: 0;
	padding:2px;
	top:0;
	display: inline;
}
.tile {
	border: 1px solid #555;
	background-color: ;
	height: 50px;
	width:50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
}
.tileEmpty{
	border: 1px solid #555;
	background-color: ;
	height: 50px;
	width:50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
}
.tilePeg {
	border: 1px solid #555;
	background-color: #F66;
	height: 50px;
	width:50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
}
.tileGlow {
	-webkit-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
	-moz-box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
	box-shadow: 0px 0px 0px 5px rgba(255, 69, 1, .75); 
}
.popped {
	border: 1px solid #555;
	background-color: ;
	height: 50px;
	width:50px;
	margin: 25px; 
	position: absolute;
	border-radius: 25px;
	/* set time duration to your needs */
	animation: gradient 300ms;
	background: #aaa;
	color: #f88;
	box-shadow: none;
	height:50px;
	width: 50px;
}
#game-board {
	align-self: center;
	position:relative;
}
#remaining {
	color:white;
}

